<button class="btn btn-outline-info">Clique aqui</button>
@{
    string nome = "Douglas";
}
<h1>Olá, @nome</h1>
<p>Hoje é @DataTime.Now.ToString("dd.MM.yyyy")</p>

@{
   bool mostrarMensagem = true;
   if(mostrarMensagem == true)
   {
      <p>Ests é uma mensagem que entrou no if</p>
   }

   for (int i=1; i <= 10; i++)
   {
    int res = i*8;
    <p>8 x @i = @res</p>
   }
}